@charset "UTF-8";

body {}
h1 {
  font-size: 150%;
  font-weight: bold;
  line-height: 2em;
}

.clearfix {width:100%;}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
 }

.wrapper {
  width: 1000px;
  margin: 10px;
}
.header {
  padding: 20px;
  margin-bottom: 10px;
  border:2px solid #CCCCCC;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
.contents-wrapper {
  width: 100%;
  padding-bottom: 10px;
}
.sidePart {
  width: 300px;
  float: left;
}
.sidePart-inner {
  padding: 10px 5px;
  margin-right: 10px;
  border:2px solid #CCCCCC;
  min-height: 300px;
}
.mainPart {
  margin-left: 300px;
  border:2px solid #CCCCCC;
}
.footer {
  padding: 10px;
  text-align: center;
  border:2px solid #CCCCCC;
}